p{color: aqua; background-color: brown;}
#nk1 {color: limegreen; font-weight: 600; font-size: xx-large; border: 20px solid blue ; margin: 200px; padding: 100px;}
.nk2 {color: rgb(17, 0, 255); border: 10px solid green;}
#s1 {border: 20px solid orange;}
#s2 {border: 20px solid brown}